/* components/Features/Features.css */
.features-section {
  padding: 80px 5%;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.features-section h2 {
  color: #000000;
  text-align: center;
}

.features-grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards in one line */
  gap: 10px;
  width: 100%; /* take full width */
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

.feature-card {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: all 0.3s;
}

.feature-card:hover {
  background-color: rgba(236, 228, 228, 0.5);
  transform: translateY(-10px);
}

.feature-icon1 {
  font-size: 3rem;
  color: #c00;
  margin-bottom: 20px;
}

.feature-title1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: black;
}

.feature-desc1 {
  font-size: 0.9rem;
  line-height: 1.6;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

@media (max-width: 1024px) {
  .features-grid1 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 600px) {
  .features-grid1 {
    grid-template-columns: 1fr !important;
  }
}

